.container{
    display: flex;
    height: 500px;
    width: 500px;
    border-style: solid;
    border-color: black;
}

.parent-div{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.child-div{
    flex: 1;
}

.hover{
    background-color: blue;
}

